@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

.log-entry {
  background-color: #f5f5f0;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  padding: 20px;
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease;
}

.log-entry:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.log-entry p {
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.4;
}

.log-entry strong {
  font-weight: 600;
}

.log-entry:last-child {
  margin-bottom: 0;
}

#options {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-grow: 1;
}

.pets,
.items,
.activities {
  display: flex;
  flex-direction: column; /* Stack items within each column vertically */
  flex-grow: 1;
  padding: 10px;
  box-sizing: border-box;
}

#selections {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-grow: 1;
}

/* Dropdown button styles */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #3a7ca5;
}

.dropbtn {
  background-color: #81c3d7;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  cursor: pointer;
  padding: 5px;
}

.hidden {
  display: none;
}

.activity-options:hover {
  background-color: #3a7ca5;
  color: white;
}
